body {
    font-family: Knewave, sans-serif, Arial, Helvetica;
    display: grid;
    align-items: center;
    background: linear-gradient(135deg, #364761, #5e7bab, #364761);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.title{
    font-size: 40px;
    padding: 20px;
    text-align: center;
}

.main-section{
    display: grid;
    grid-template-columns: 600px 1fr 500px;
    justify-content: space-around;       
}

.display-tv {
    width: 500px;
    height: auto;
    padding: 20px 0;
    background: #2b2b2b;
    border-radius: 25px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.8);
    border: 6px solid #362519;
    position: relative;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

#tv-screen {
  border-radius: 70px;
}

.display-tv::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 20px;
  background: radial-gradient(circle at 50% 50%, rgba(255,255,255,0.05), transparent 70%);
  pointer-events: none; /* just a shine effect */
}

.tv-buttons {
  position: absolute;
  right: 3px;
  bottom: 30px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: red;
  box-shadow: 0 25px 0 yellow, 0 50px 0 green;
}


.display-tv::before,
.display-tv::after {
  content: "";
  position: absolute;
  top: -60px;
  width: 6px;
  height: 70px;
  background: #555;
  border-radius: 3px;
}

/* left antenna */
.display-tv::before {
  left: 120px;
  transform: rotate(-25deg);
}

/* right antenna */
.display-tv::after {
  right: 120px;
  transform: rotate(25deg);
}

/* little antenna tips */
.display-tv span {
  position: absolute;
  top: -68px;
  width: 12px;
  height: 12px;
  background: silver;
  border-radius: 50%;
}

/* position the tips at the end of each antenna */
.display-tv span.left {
  left: 105px;
  top: -60px;
}

.display-tv span.right {
  right: 105px;
  top: -60px;
  z-index: 3;
}

.rules-container{
    border: 2px solid black;
    width: 350px;
    height: auto;
    padding: 40px;
    text-align: center;
    font-size: 20px;
    margin-right: 30px;
    

}

.btn{
    width: 150px;
    height: 150px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3a5f9c;
    border: 4px solid #26344a;
    font-size: 20px;
    font-family: Knewave, sans-serif, Arial, Helvetica;
    font-weight: 100;
    padding: 70px;
    transition: transform 0.25s ease, box-shadow 0.25s ease, border-color 0.25s ease;
}

.btn:hover{
  transform: scale(1.1);
  border-color: #4771b5;
  box-shadow: 0 0 20px #4771b5;
}

.player-choices{
    display: grid;
    justify-content: space-around;
}

.img{
  border-radius: 150px;
  width: 100px;
  margin-top: 15px;
}

.scoreboard-container{
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 30px;
  width: 300px;
  height: 100px;
  border: 4px double black;
}